.secondHeader {
  display: flex;
  justify-content: space-around;
  background: #f4f4fe;
  padding: 10px 0;
}

.navigationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 180px;
  height: auto;
}

.logo a img {
  width: 100%;
  height: auto;
}

.headerInfo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerInfo ul{
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.headerInfo ul li{
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 5px;
}
.headerInfo ul li a{
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 5px;
}

.headerInfo ul li a span:hover {
  text-decoration: underline;
}

.responsivBtn {
  display: none;
}

.bars {
  font-size: 2rem;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.nav ul li a {
  color: black;
}

.nav ul li a:hover {
  font-weight: 800;
}

.responsiveNav {
  display: none;
}

@media (max-width: 1200px) {
  .secondHeader {
    display: none;
  }

  .logo a img {
    width: 80%;
  }

  .headerContainer {
    display: none;
  }

  .responsiveNav {
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;
    /* padding: 10px 0; */
  }

  .responsivBtn {
    display: block;
  }

  .headerInfo {
    display: none;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    top: -100vh;
    left: 0;
    height: 100vh;
    padding-top: 30px;
  }

  .open ul {
    top: 15vh;
  }

  /* .close ul {
    display: none;
  } */
}

