
.titleSize {
    font-size: 50px;
}

.sectionTitle {
    margin-bottom: 50px;
}

.sectionTitle span {
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;
	/* color: #d29751; */
	letter-spacing: 2px;
	display: block;
	margin-bottom: 20px;
}
.sectionTitle h2 {
	font-size: 55px;
	padding-bottom: 30px;
	margin-bottom: 0px;
	position: relative;
}
.sectionTitle span::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 4px;
	width: 60px;
	background: #EF7F24;
	margin: auto;
	transition: .3s;
}
section:hover .sectionTitle span::before{width: 100px;}

.sectionMargins {
    /* margin-top: 100px; */
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.autoHeight {
    height: 100vh;
    display: flex;
    justify-Content: center;
    align-Items: center;
    padding: 0 10%;
    background-color: '#f0f0f0';
}

.sAboutImg {
	/* margin-top:10px; */
	margin-bottom: 20px;
}
.sAboutImg img {
	width: 100%;
}

.servicesTwo {
    padding: 50px 0 50px 0;
    /* height: 100vh; */
    /* display: flex;
    align-items: center; */
    /* background: #f5f8fa; */
}

.servicesTwo .services-icon {
	position: absolute;
    right: -30px;
}
.servicesTwo .second-services-content{
    float: left;
    width: 70%;
    margin-left: 20px;
}
.servicesTwo .s-single-services {
    transition: .3s;
    padding: 30px 15px;
    border: 3px solid #f5f8fa;
	margin-bottom: 30px;
}

.homeModelTitle {
    font-size: '40px'
}

.homeModelSubtitle {
    font-size: '35px'
}

.singleCounter {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	/* width: 80px;
	height: 80px;
	background:#d29751; */
	border-radius: 50%;
	/* margin-bottom: 30px; */
	color:#fff;
	font-size: 40px;
	line-height: 80px;
}

.gmap {
    max-width: 500px;
    margin-bottom: 20px;
}

.centerDivContent {
    border: 2px solid #f5f8fd;
    height: 170px;
    padding: 20px;
}

.imgContainer {
    background-color: var(--main-color);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 9px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.footerWeb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerWeb .footerUlContainer {
    padding-left: 50px;
}

.footerWeb .footerUlContainer ul li a {
    color: white;
}

.footerWeb .footerUlContainer ul li:hover a{
color: var(--main-color);
font-weight: 600;
}

@media (max-width: 768px) {
    .centerDivContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .imgContainer {
        width: 70px;
        height: 70px;
        margin-left: 0;
    }

    .titleSizeSm {
        font-size: 12px;
    }

    .sectionTitle span {
        font-size: 20px;
    }

    .autoHeight {
        height: auto;
        padding: 50px 10px;
        /* background-color: black; */
    }

    .homeModelTitle {
        font-size: '20px'
    }

    .homeModelSubtitle {
        font-size: '15px'
    }

    .gmap {
        width: 100%;
        height: auto;
    }

    .footerWeb {
        align-items: flex-start;
    }

    .footerWeb .footerUlContainer {
        padding-left: 0;
    }
}